<%= form_for @film do |f|%>
<div>Фильм: <%= f.text_field :name  %><br/>
Год выпуска: <%= f.text_field :year %><br/>
Рейтинг: <%= f.select :rating, Film::RATINGS %><br/></div>
<% if @film.errors[:name]!=[] || @film.errors[:year]!=[]%>
<%= "errors:"%>
<%= "Фильм #{@film.errors[:name]}" %><br/>
<%= "Год #{@film.errors[:year]}" %><br/>
<% end %>
<%= f.submit "Сохранить"%>
<% end %>